{% extends "Store/base.html" %}

{% block title %}
    {{ goods_data.goods_name }} 详情页
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <tr>
            <td rowspan="3"><img style="height: 200px;width: 200px;" src="/static/{{ goods_data.goods_image }}" alt="未找到图片"></td>
            <th>商品名称</th>
            <td colspan="3">{{ goods_data.goods_name }}</td>
        </tr>
        <tr>
            <th>商品价格</th>
            <td>{{ goods_data.goods_price }}(元)</td>
            <th>商品库存</th>
            <td>{{ goods_data.goods_number }}</td>
        </tr>
        <tr>
            <th>生产日期</th>
            <td>{{ goods_data.goods_date|date:"Y年m月d日" }}</td>
            <th>保质期</th>
            <td>{{ goods_data.goods_safeDate }}（天）</td>
        </tr>
        <tr>
            <th colspan="5" style="text-align: center">商品描述</th>
        </tr>
        <tr>
            <td colspan="5">{{ goods_data.goods_description|safe }}</td>
        </tr>
    </table>
    <a href="/Store/update_goods/{{ goods_id }}" class="btn btn-primary btn-block">修改商品</a>
{% endblock %}



